.first{
    background-color:#FFFDD0 ;
    color:orange;
    font-size: 20pt;
    font-family: Arial;
}

.second {
    background-color: magenta;
    color: green;
    font-size: 20pt;
    font-weight: bold;
}

.third {
    background-color: #c0d727;
    color: red;
    font-size: 20pt;
    font-family: Arial;
}